<h1 class="d-flex justify-content-center">UpComing 5 Days Weather Report of {{upcomingWeather.city.name}}</h1>
<div  fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10px">
 <div fxLayout="column" *ngFor="let c of upcomingWeather.list">
  <mat-card style="background-color: bisque;">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
        <div  fxLayout="row">
          <span><b>  Date :</b> {{c.dt_txt | date:'medium'}}   </span>
        </div>
        <div  fxLayout="row">
          <span><b>  Temp :</b> {{c.main.temp}} &#8457;  </span>
        </div>
        <div  fxLayout="row">
          <span><b> Sea Level :</b> {{c.main.sea_level}} hPa </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
 </div>
</div>
